/* font import */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Boldonse&family=Emblema+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Giga:wght@100..900&family=MonteCarlo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* styling the main index star */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* body styling */

body {
    min-height: 470vh;
    background-color: #fff;

}

body.noscroll {
    overflow: hidden;
  }

  #img1, #img2, #img3 {
    position: absolute;
    will-change: transform;
    transition: transform 0.5s ease;
  }
  
/* main content */

.main_logo {
    border-radius: 5px;
}

ul li a {
    color: rgb(0, 0, 0);
    font-family: "poppins";
    font-weight: 300;
    text-transform: capitalize;
    margin-inline: 20px;
    font-size: 1rem;
}

.main_content {
    background-image: url('image.jpg');
    height: 99vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

/* nav bar styling start here */


  

.nav_menu li a{
    color:rgb(27, 25, 25);
    font-family:'poppins';
    font-weight:400;
    text-transform:capitalize;
}

/* active class */

.nav_container .nav_bar.active{
    display:flex;
}

.toggle.active .bar:nth-child(2){
    opacity:0;
} 

.toggle.active .bar:nth-child(1){
    transform:translateY(8px) rotate(45deg);
}

.toggle.active .bar:nth-child(3){
    transform:translateY(-8px) rotate(-45deg);
}


.logo_image {
    width:180px;
}

.nav_bar{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80px;
    width:100%;
    background: rgba(255, 255, 255, 0.027); /* semi-transparent */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.21);
    backdrop-filter: blur(10px); /* frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.nav_container {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    padding:0 1rem;
    max-width:1600px;
}

.nav_container .nav_menu{
    display:flex;
    align-items:center;
    gap:1.5rem;
    list-style-type:none;
}


.toggle{
    display:none;
    background:transparent;
    padding:10px;
    border:none;
    cursor:pointer;
}

.bar{
    cursor:pointer;
}

.bar{
    display:block;
    width:25px;
    height:1.4px;
    margin:5px auto;
    background:#000000;
    transition:all 0.3s ease-in-out;
}

/* responsive code for the nav bar */


@media screen and (max-width:940px)
{

  
    .nav_container .nav_menu.active {
        display: flex;
    }
    

    .nav_container .nav_menu{
        flex-direction:column;
        align-items:flex-start;
        gap:1.7rem;
        position:absolute;
        display:none;
        height:100vh;
        top:0;
        right:0;
        padding:5rem 1.5rem;
        background: rgba(221, 19, 19, 0.978); /* semi-transparent */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.21);
        backdrop-filter: blur(10px); /* frosted glass effect */
        -webkit-backdrop-filter: blur(10px); /* Safari support */
        z-index:1;
    }

    .nav_menu li a{
    color:rgb(0, 0, 0);
    cursor:pointer;
    font-family:'poppins';
    font-weight:400;
    text-transform:capitalize;
}

    .toggle{
        display:block;
        z-index:999;
    }
    .nav_bar.active{
        display:flex;
    }
}

    .transform {
        margin-top: 10px;
        cursor: pointer;
        z-index: -1;
    }



/* main content styling main text */

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(30px);
    justify-content: center;
}

.div_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background: black;
    min-height: 390px;
    width: 90%;
    padding: 3.5% 0;
    background-color: rgb(255, 255, 255);
    transform: translateY(20px);
}

.div_text h1 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 55px;
    margin-bottom: 10px;
    font-family: 'poppins';
}

.pickel_ball img {
    max-width: 260px;
    border-radius: 7px;
}

.location img {
    max-width: 260px;
    border-radius: 7px;
}

.pickel_ball h3 {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
}

.location h3 {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
}

.green {
    color: green;
}

.div_text p {
    font-family: 'poppins';
    font-weight: 500;
    color: rgba(0, 0, 0, 0.699);
    line-height: 25px;
    text-transform: capitalize;
}

.center_logo {
    width: 250px;
}

.inner_div h2 {
    font-family: 'poppins';
    font-weight: 400;
    color: white;
    transform: translateY(-90px);
    font-size: 1.9rem;
}


/* main styling repsonsive  */

@media screen and (max-width:1165px) {

    .div_text h1 {
        font-size: 2rem;
    }

    .div_text p {
        font-family: 'poppins';
        font-weight: 500;
        color: rgba(0, 0, 0, 0.699);
        line-height: 25px;
        font-size: 0.79rem;
        text-transform: capitalize;
    }

}

@media screen and (max-width:1338px) {

    .div_content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        background: black;
        min-height: 350px;
        width: 90%;
        padding: 3.5% 0;
        background-color: rgb(255, 255, 255);
        transform: translateY(-20px);
    }

    .div_text h1 {
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 55px;
        margin-bottom: 10px;
        font-family: 'poppins';
    }
}

@media screen and (max-width:1157px) {

    .div_content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        background: black;
        min-height: 350px;
        width: 90%;
        padding: 3.5% 10px;
        background-color: rgb(255, 255, 255);
        transform: translateY(-20px);
    }
}

@media screen and (max-width:1014px) {
    .main_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(0px);
        justify-content: center;
    }

    .div_content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        background: black;
        min-height: 350px;
        width: 93%;
        gap: 0.5rem;
        padding: 3.5% 10px;
        background-color: rgb(255, 255, 255);
        transform: translateY(-20px);
    }

}

@media screen and (max-width:992px) {
    .div_text h1 {
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 45px;
        margin-bottom: 10px;
        font-family: 'poppins';
    }

    .div_text p {
        font-family: 'poppins';
        font-weight: 500;
        color: rgba(0, 0, 0, 0.699);
        line-height: 20px;
        font-size: 0.69rem;
        text-transform: capitalize;
    }

    .pickel_ball img {
        max-width: 230px;
        border-radius: 7px;

    }

    .location img {
        max-width: 230px;
        border-radius: 7px;
    }

}

@media screen and (max-width:898px) {
    .div_text h1 {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 45px;
        margin-bottom: 10px;
        font-family: 'poppins';
    }

    .div_text p {
        font-family: 'poppins';
        font-weight: 500;
        color: rgba(0, 0, 0, 0.699);
        line-height: 20px;
        font-size: 0.59rem;
        text-transform: capitalize;
    }

    .pickel_ball img {
        max-width: 200px;
        border-radius: 7px;

    }

    .location img {
        max-width: 200px;
        border-radius: 7px;
    }

    .div_content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        background: black;
        min-height: 310px;
        width: 93%;
        gap: 0.5rem;
        padding: 3.5% 10px;
        background-color: rgb(255, 255, 255);
        transform: translateY(-20px);
    }

}

@media screen and (max-width:751px) {
    .inner_div h2 {
        font-family: 'poppins';
        font-weight: 400;
        color: white;
        transform: translateY(-100px);
        font-size: 1.5rem;
    }

    .main_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-0px);
        justify-content: center;
    }


    .div_content {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        background: black;
        min-height: 250px;
        width: 73%;
        text-align: center;
        gap: 0.5rem;
        padding: 3.5% 10px;
        background-color: rgb(255, 255, 255);
        transform: translateY(-95px);
    }


}

@media screen and (max-width:643px) {

    .wrap_flex {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }

    .main_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(0px);
        justify-content: center;
    }

}

/* styling of the service div section */

.service {
    display: flex;
    margin: 7% 0;
    align-items: center;
    justify-content: space-around;
}

.Service_div h3 {
    font-family: 'poppins';
    font-weight: 500;
    color: rgba(0, 0, 0, 0.699);
    line-height: 25px;
    font-size: 0.79rem;
    margin-bottom: 30px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
}

.Service_div h1 {
    font-family: 'poppins';
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 25px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}


.service_title h3 {
    margin-top: 15%;
    margin-left: 6%;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 3.7rem;
    text-transform: capitalize;
}

.Service_div img {
    margin-bottom: 20px;
    border-radius: 20px;
}

.Service_div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1102px) and (orientation:portrait) {
    .service {
        display: flex;
        margin: 7% 3%;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .service_title h3 {
        text-align: center;
        margin-left: 0;
    }

}

@media screen and (max-width:1102px) and (orientation:landscape) {
    .service {
        display: flex;
        margin: 7% 3%;
        text-align: center;
        gap: 2rem;
        align-items: center;
        justify-content: space-evenly;
    }

    .service img {
        width: 150px;
        height: 250px;
    }

}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    .service_title h3 {
        margin-top:25%;
    }
}


@media screen and (max-width:853px) {
    .service {
        display: flex;
        margin: 7% 3%;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }


    @media screen and (max-width:762px) {

        .service_title h3 {
            margin-top: 35%;
            font-family: 'poppins';
            font-weight: 400;
            font-size: 2.7rem;
            text-transform: capitalize;
        }
    }

}




/* gallery section swiper section */

.Court_title h1 {
    font-family: 'poppins';
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 6%;
    margin-bottom: 20px;
    font-size: 3.7rem;
}

.gallery_title h1 {
    font-family: 'poppins';
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 6%;
    margin-bottom: 20px;
    margin-top:5%;
    font-size: 3.7rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* client testimonia section */


.client_head h1 {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 3rem;
    margin-top: 10%;
    text-transform: capitalize;
    margin-left: 3%;
}

.testi_wrapper .client {
    padding: 5px;

}

.testi_wrapper .client {
    border-radius: 30px;
}


.testi_wrapper .client {
    max-width: 320px;
    height: 430px;
    margin-bottom: 50px;
    color: rgb(2, 2, 2);
    border: 1px solid rgba(246, 241, 241, 0.359);
    background: rgba(130, 112, 112, 0.189);
}

.client .client_para {
    width: 250px;
}

.client_review {
    transform: translateY(10px);
    padding: 0 10px;
}

.client_profile {
    transform: translateY(105px);
    display: flex;
    padding: 0 5px;
    align-items: center;
    gap: 1rem;
    border-bottom-left-radius: 50px;
    justify-content: space-around;
}

.client_details h2 {
    font-family: 'poppins';
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1rem;
}

.client_profile span>p {
    font-size: 0.65rem;
    font-family: 'poppins';
    font-weight: 300;
    line-height: 15px;
}

.client_profile {
    padding: 10px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.999);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.client_profile img {
    border-radius: 50%;
}

.client p {
    font-family: 'poppins';
    line-height: 25px;
    font-weight: 300;
    width: 300px;
    font-size: 0.85rem;
    text-transform: capitalize;
}

.qoute {
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
}

.client_testimonial .testi_wrapper {
    display: flex;
    gap: 2rem;
    animation: 20s slide linear infinite;
    flex-shrink: 0;
}

.client_testimonial {
    user-select: none;
    margin: 10% 0;
    overflow: hidden;
}

@keyframes slide {
    to {
        transform: translateX(-100%);
    }
}


/* repsonsive for the testimonial 

@media screen and (max-width:1088px)
{


.client_testimonial{
    margin:3.5% 3%;
    display:flex;
    overflow:hidden;
    align-items:center;
    flex-direction:column;
    justify-content:space-between;
}


.client_head h1{
  font-family:'poppins';
  font-weight:400;
  font-size:3rem;
  text-align:center;
  margin-top:10%;
  text-transform:capitalize;
  margin-left:3%;
}

}



/* stlying for the connecting section */

.connect h1 {
    font-family: 'poppins';
    font-weight: 700;
    font-size: 3.5rem;
    background: linear-gradient(to right, orange, red);
    background-clip: text;
    color: transparent;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.connect p {
    font-family: 'poppins';
    font-weight: 300;
    line-height: 20px;
    color: rgba(210, 145, 145, 0.823);
    font-size: 0.86rem;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.connect button {
    padding: 10px 25px;
    border: none;
    text-transform: uppercase;
    background: linear-gradient(to right, orange, rgb(184, 38, 153));
    color: white;
    border-radius: 50px;
    font-family: 'poppins';
    font-weight: 800;
}


.connect_insta {
    display: flex;
    align-items: center;
    margin: 10% 8%;
    justify-content: space-between;
}


.qr_code img {
    width: 350px;
}

/* repsonsive for the qr section  */


@media screen and (max-width:1218px) {
    .connect h1 {
        font-family: 'poppins';
        font-weight: 700;
        font-size: 3rem;
        background: linear-gradient(to right, orange, red);
        background-clip: text;
        color: transparent;
        text-transform: capitalize;
        margin-bottom: 5px;
    }

    .connect p {
        font-family: 'poppins';
        font-weight: 300;
        line-height: 18px;
        color: rgba(210, 145, 145, 0.823);
        font-size: 0.66rem;
        text-transform: capitalize;
        margin-bottom: 35px;
    }

    .connect button {
        padding: 8px 21px;
        border: none;
        text-transform: uppercase;
        background: linear-gradient(to right, orange, red);
        color: white;
        border-radius: 50px;
        font-family: 'poppins';
        font-weight: 800;
    }


}


@media screen and (max-width:1284px) {

    .connect_insta {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10% 8%;
        gap: 2rem;
        text-align: center;
        justify-content: space-between;
    }

    .connect h1 {
        font-family: 'poppins';
        font-weight: 700;
        font-size: 3rem;
        background: linear-gradient(to right, orange, red);
        background-clip: text;
        color: transparent;
        text-transform: capitalize;
        margin-bottom: 5px;
        text-align: center;
    }

    .connect p {
        font-family: 'poppins';
        font-weight: 300;
        line-height: 18px;
        text-align: center;
        color: rgba(210, 145, 145, 0.823);
        font-size: 0.66rem;
        text-transform: capitalize;
        margin-bottom: 35px;
    }

    .connect button {
        padding: 8px 21px;
        border: none;
        text-transform: uppercase;
        background: linear-gradient(to right, orange, red);
        color: white;
        border-radius: 50px;
        font-family: 'poppins';
        font-weight: 800;
    }


}

/* football section */

.football_location {
    width: 100%;
    height: 400px;
    background: rgb(77, 47, 11);
}

#carouselSection {
    width: 90%;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    position: relative;
    background-color: #fff;
}

.carousel-img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    border-radius: 16px;
    margin-top: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
    transition: all 0.3s ease;
    width: 300px;
    height: auto;

}

@media (max-width: 768px) {
    .carousel-img {
        border-radius: 12px;
    }
    #carouselSection {
        margin-top: 30%;
    }
}